:root {
  --background: #a271d1;
  --skin: #fdb48b;
  --hair: #f5350a;
  --eyebrow: #f83f0a;
  --mouth: #70001b;
  --tongue: #de013d;
  --eye: #00243a;
  --tooth: #fff;
  --ear: #f2735f;
  --body: #af0170;
  --square: #630a62;
  --skin-nose: #d19471;
}

body {
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--background);
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--square);
  clip-path: circle(50%);
  position: absolute;
  width: 630px;
  height: 630px;
}

.body {
  clip-path: circle(50% at 50% 50%);
  background: var(--body);
  position: absolute;
  width: 400px;
  height: 400px;
  top: 390px;
  transform: rotate(180deg);
}

.head {
  background: var(--skin);
  box-shadow: 0px 0px 3px 1px var(--skin);
  border-radius: 100px;
  position: absolute;
  width: 200px;
  height: 480px;
  z-index: 1;
}

.hair_left {
  width: 30px;
  height: 80px;
  background: var(--hair);
  position: absolute;
  top: 30px;
  left: 0;
  border-radius: 400px 0 400px 0;
  box-shadow: 0px 0px 2px 2px red;
}

.hair_right {
  width: 30px;
  height: 80px;
  background: var(--hair);
  position: absolute;
  top: 30px;
  left: 171px;
  border-radius: 0 400px 0 400px;
  box-shadow: 0px 1px 2px red;
}

.hair {
  width: 240px;
  height: 120px;
  background: var(--hair);
  position: absolute;
  top: -30px;
  left: 15px;
  border-radius: 60px 0 60px 60px;
  box-shadow: 0px 0px 5px 1px red;
}

.eyebrow-left {
  background: var(--eyebrow);
  box-shadow: 0px 0px 2px 1px red;
  border-radius: 10px;
  width: 32px;
  height: 15px;
  position: absolute;
  top: 112px;
  left: 15px;
}

.eyebrow-right {
  background: var(--eyebrow);
  box-shadow: 0px 0px 2px 1px red;
  border-radius: 10px;
  width: 32px;
  height: 15px;
  position: absolute;
  top: 112px;
  left: 146px;
}

.eye-left {
  background: var(--eye);
  box-shadow: 0px 0px 2px 1px var(--skin-nose);
  border-radius: 10px;
  width: 8px;
  height: 15px;
  position: absolute;
  top: 140px;
  left: 30px;
}

.eye-right {
  background: var(--eye);
  box-shadow: 0px 0px 2px 1px var(--skin-nose);
  border-radius: 10px;
  width: 8px;
  height: 15px;
  position: absolute;
  top: 140px;
  left: 160px;
}
