:root {
  --background: #a271d1;
  --skin: #fdb48b;
  --hair: #f5350a;
  --eyebrow: #f83f0a;
  --mouth: #70001b;
  --tongue: #de013d;
  --eye: #00243a;
  --tooth: #fff;
  --ear: #f2735f;
  --body: #af0170;
  --square: #630a62;
  --skin-nose: #d19471;
}

body {
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--background);
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--square);
  clip-path: circle(50%);
  position: relative;
  width: 630px;
  height: 630px;
}
