:root {
  --background: #a271d1;
  --skin: #fdb48b;
  --hair: #f5350a;
  --eyebrow: #f83f0a;
  --mouth: #70001b;
  --tongue: #de013d;
  --eye: #00243a;
  --tooth: #fff;
  --ear: #f2735f;
  --body: #af0170;
  --square: #630a62;
  --skin-nose: #d19471;
}
