@media (max-width: 575.98px) {
  body {
    overflow-y: scroll;
  }
  .container {
    display: block;
  }

  .background {
    background: transparent;
    clip-path: circle(60%);
    width: 100%;
    height: 615px;
    animation: none;
  }

  .body {
    width: 360px;
    height: 40vh;
    top: 25rem;
  }

  .hair {
    height: 112px;
    top: -22px;
    left: 15px;
  }

  .text {
    font-size: 18px;
    top: 42rem;
    left: 45%;
    padding-bottom: 10px;
  }

  .heart {
    position: absolute;
    left: -15px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .background {
    width: 530px;
    height: 530px;
  }

  .head {
    height: 28rem;
    top: 50px;
  }

  .beard {
    height: 50%;
  }

  .hair {
    width: 204px;
    height: 108px;
    top: -18px;
  }

  .text {
    font-size: 15px;
    top: 18%;
    left: 9%;
  }

  .heart {
    position: absolute;
    left: -50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .text {
    top: 84%;
    left: 44%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .text {
    left: 8%;
  }
}
